*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
/* commom */
.center-box{
    width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
    text-align: center;
}

.row{
    width: 100%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

.col{
    float: left;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.3333%;
}

.col-full{
    width: 100%;
}

/* commom */

#heading{
    background-color: #bd9fbe;
    width: 100%;
    position: fixed;
    color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}
/* nav */

#nav-section{
    display: inline-block;
}

#nav-section .nav > li{
    display: inline-block;
    /* padding: 12px 24px; */
    position: relative;
    top: 12px;
}

.nav li:hover a {
    background-color: #312e2e;
}

.nav li:hover a{
    color: #000;
}

.nav a{
    color: #0a0a0a;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    padding: 14px 24px;
}

.more-section{
    display: none;
    position: absolute;
    color: #000;
    left: 0px;
    top: 32px;
    list-style-type: none;
    box-shadow: 0 0 16px rgba(3, 3, 3, 0.3)
}

.more-hover:hover .more-section{
    display: block;
}

.more-section li{
    background-color: #fff;
    padding: 12px 24px;
}
/* nav */
.search-box{
    display: inline-block;
    float: right;
    padding: 12px 24px;
}

.search-box:hover{
    background-color: #f44336;
    cursor: pointer;
}

.menu-box{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
/* slider */

#slider{
    width: 100%;
    padding-top: 50%;
    background: url(human-3181796_1280.jpg) center /cover no-repeat;
    margin-top: 42px;
    position: relative;
}

.slider-text{
    display: inline-block;
    color: #0f0f0f;
    text-align: center;
    width: 100%;
    margin:auto;
    padding: 32px 16px;
    position: absolute;
    bottom: 0px;
}

.slider-text .slider-head{
    margin: 10px 0;
    font-weight: 400;
}

.slider-text .slider-description{
    margin: 15px 0;
    font-size: 15px;
}
/* content */

/* about team */

#content .text-head{
    margin: 10px 0;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
}
#content .text-description{
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

#content .team-para{
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
    margin: 15px 0;
}

.member-name{
    font-size: 15px;
    margin: 15px 0;
}

.member-picture{
    width: 60%;
    margin-bottom: 16px;
}

/* tour date */
.tour-dates{
    background-color: #554e55;
    color: #fff;
}

.tour-dates .location-section{
    margin-top: 45px;
    display: block;
    background-color: #fff;
    color: #000;
    list-style-type: none;
}

.location-section li{
    display: block;
    padding: 8px 16px;
    border-bottom: #ccc solid 1px;
    text-align: left;
    color: #757575;
}

.location-section li .sold{
    padding: 2px 8px;
    margin-left: 16px;
    background-color: rgb(244, 67, 54);
    color: #fff;
}

.location-section .ticket-left{
    display: inline-block;
    float: right;
    background-color: #000;
    color: #fff;
    padding: 0 8px;
    margin-right: 16px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 1.5;
    line-height: 25px;
    translate: 0 -3px;
}

.tour-dates .row{
    width:auto;
    padding: 32px 8px;
    margin-left: -16px;
    margin-right: -16px;
}

.tour-dates .place-picture{
    width: 100%;
    display: block;
}

.tour-dates .place-picture:hover{
    opacity: 0.6;
}

.tour-dates .col-third{
    padding: 0 8px;
}

.tour-dates .place-info{
    padding: 16px;
    text-align: left;
    background-color: #fff;
    color: #000;
    font-size: 15px;
}

.tour-dates .place-name{
    font-weight: bold;
    margin: 15px 0;
}

.tour-dates .place-dates{
    opacity: 0.6;
    margin: 15px 0;
}

.tour-dates .place-description{
    margin: 15px 0;
}

.tour-dates .buy-buttom{
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 16px;
    color: #fff;
    background-color: #000;
}

.tour-dates .buy-buttom:hover{
    background-color: #ccc;
    color: #000;
}

/* contact */

.contact{
}

.contact .contact-section{
    padding: 32px 0;
}

.contact .contact-info{
    font-size: 18px;
    list-style-type: none;
    text-align: left;
    line-height: 1.4;
}

.contact .contact-info i{
    width: 30px;
}

.form .row input{
    float: left;
    padding: 8px;
    margin: 0;
    border: solid rgb(204, 204, 204) 1px;
    opacity: 0.6;
    width: 100%;
}

.form .row1 .col1{
    padding-right: 8px;
}

.form .row1 .col2{
    padding-left: 8px;
}

.form .row2 .col{
    margin: 8px 0;
}

.send-buttom{
    background-color:#000;
    color: #fff;
    padding: 8px 16px;
    margin: 8px 0;
    float: right;
}

.send-buttom:hover{
    background-color: #ccc;
    border: #ccc solid 2px;
    color: #000;
}
/* footer */

.map{
    width: 100%;
    height: 50vw;
}

#footer .social-icon{
    opacity: 0.6;
    font-size: 24px;
}
.end a:hover,
#footer i:hover{
    opacity: 0.3;
}

#footer .end{
    margin: 15px 0;
    opacity: 0.6;
}

.end a{
    color:#000;
}

/* reponsive */

